.crt-btn {
	position: absolute;
	bottom: -10px;
	right: 20px;
	width: 42px;
	height: 42px;
	line-height: 42px;
	border-radius: 100px;
	background: linear-gradient(180deg, #009c43, #000000);
	text-align: center;
}

.react-multiple-carousel__arrow::before {
	font-size: 36px;
	padding: 0.5rem 0;
	color: #fff;
	display: block;
	background: #1b8147;
	font-family: revicons;
	text-align: center;
	z-index: 2;
	position: relative;
}
